# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
.env/
.envrc

# logs
logs/
*.log

# OS
.DS_Stor
Thumbs.db

# ML Artifacts
models/
artifacts/
outputs/
mlruns/

# Data
data/processed/

# cache tools
.pytest_cache/
.mypy_cache/
.cache/

# Mlflow
mlflow.db

# bash
Setup.bash
